.featured {
  max-width: var(--width-content);
}

.featured-collection__heading {
  margin: 3rem 0 1.6rem;
  text-align: center;
}

.featured-collection__description {
  margin: 0 0 4rem;
  text-align: center;
}
