.cart table {
  padding-inline: 2rem;
  width: 100%;
  border: 0.1rem solid var(--color-light-gray-divider);
  border-collapse: collapse;
}

.cart th {
  text-align: start;
  padding: 2rem 0;
  font-size: var(--font-size-13);
}

.cart__th-delete-icon {
  width: 4%;
}

.cart__th-img {
  width: 10%;
}

th.cart__th-product {
  padding-inline: 3rem;
}

.cart__th-subtotal {
  font-weight: var(--font-weight-bold);
}

.cart td {
  padding: 3rem 0;
  border-bottom: 0.1rem solid var(--color-light-gray-divider);
}

td.cart__td-delete-icon {
  text-align: center;
}

.cart__item-img {
  height: 12rem;
}

td.cart__td-name {
  padding-inline: 3rem;
}

.cart__td-price,
.cart__td-quantity,
.cart__td-subtotal {
  width: 15%;
}

.cart__td-subtotal {
  font-weight: var(--font-weight-bold);
}

/* Start Responsive */
@media (max-width: 800px) {
  .cart thead tr {
    display: none;
  }

  .cart tr {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem 1.5rem;
    border-bottom: 0.1rem solid var(--color-light-gray-divider);
  }

  .cart td {
    padding: 0;
    border: none;
  }

  td.cart__td-delete-icon {
    position: absolute;
    top: 1.6rem;
    right: 1.2rem;
  }

  .cart__item-img {
    width: 6rem;
    height: 7.2rem;
    object-fit: cover;
  }

  td.cart__td-name {
    padding-inline: 2rem;
  }

  .cart__td-price {
    flex-grow: 1;
    text-align: end;
  }

  .cart__td-quantity {
    margin-top: 3rem;
    width: 70%;
  }

  .cart__td-subtotal {
    flex-grow: 1;
    text-align: end;
    margin-top: 3rem;
  }
}

/* End Responsive */
