@import '../../styles/theme';

.coupon-form {
  display: flex;
}

.coupon-form__loader-container {
  margin-top: 1rem;
}

.coupon-form__loader {
  border: 0.4rem solid var(--color-light-gray);
  border-top: 0.4rem solid var(--color-primary);
  width: 2rem;
  height: 2rem;
}

.coupon-form__input {
  @include primaryInput;
}

.coupon-form__input:focus {
  @include primaryInputFocused;
}

.coupon-form__input-check-bg {
  background-image: url(../../assets/icons/check-mark.png);
  background-repeat: no-repeat;
  background-position: right 1.1rem center;
}

.coupon-form__button {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.coupon-form__validation-err {
  @include validationErr;
}

/* Start Responsive */
@media (max-width: 750px) {
  .coupon-form-container {
    margin-bottom: 2rem;
  }

  .coupon-form__input {
    width: 100%;
  }
}
/* End Responsive */
