@import '../../../styles/theme';

.product-modal {
  @include overlayWrapper;
  display: flex;
  align-items: center;
  padding-inline: 2rem;
}

.product-modal__content {
  width: 80rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.product-modal__close {
  align-self: flex-end;
  margin-bottom: 0.7rem;
  color: var(--color-light);
}
