@import '../../../styles/theme';

.product-modal {
  @include overlayWrapper;
  display: flex;
  align-items: center;
  padding-inline: 2rem;
}

.product-modal__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.product-modal__close {
  align-self: flex-end;
  margin-bottom: 0.7rem;
  color: var(--color-light);
}

@media (max-width: 1000px) {
  .product-modal__close {
    position: absolute;
    top: 1.4rem;
    right: 1.8rem;
  }

  .product-modal__content {
    height: 90%;
    overflow-y: scroll;
  }
}
