.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}

/* Start Responsive */
@media (max-width: 985px) {
  .product-list {
    justify-content: center;
  }
}

/* End Responsive */
