@import '../../../styles/mixins';

.global-nav {
  @include flexVCenter;
  justify-self: flex-start;
}

.global-nav__list {
  display: flex;
  gap: 3.5rem;
}

.global-nav__item {
  transition: var(--transition-timing-sec);
}

.global-nav__item-link {
  font-size: var(--font-size-16);
}

.global-nav__item-title:hover {
  color: var(--color-gray-hover);
}

.global-nav__item-title--disabled {
  cursor: default;
}

/* Start Responsive */
@media (max-width: 1000px) {
  .global-nav {
    display: none;
  }

  .global-nav__list {
    flex-direction: column;
    gap: 2.5rem;
  }

  .global-nav--shown {
    display: flex;
  }
}

/* End Responsive */
