@import '../../../styles/theme';

.search-modal-wrapper {
  display: none;
  @include overlayWrapper($top: 10rem, $bg: var(--color-dark-cart-shadow));
}

.search-modal-wrapper--visible {
  display: block;
}

.search-modal-wrapper__main {
  background-color: var(--color-light);
  padding: 4rem 15rem;
}

.search-modal {
  display: flex;
  width: 100%;
}

.search-modal__input-container {
  position: relative;
  flex: 1;
  margin-inline-end: 0.8rem;
}

.search-modal__input {
  @include primaryInput;
  width: 100%;
}

.search-modal__input:focus {
  @include primaryInputFocused;
}

.search-modal__search-link {
  padding: 1.3rem 1.4rem 0.8rem;
}

.search-modal__delete-icon {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
}
