.counter {
  border: 0.1rem solid var(--color-primary);
  display: flex;
  align-items: center;
  padding: 0.7rem 0.9rem;
}

.counter__input {
  border: none;
  width: 5rem;
  padding: 0;
  text-align: center;
}

.counter__input:focus {
  border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.counter__operator {
  font-size: var(--font-size-27);
  transition: var(--transition-timing-sec);
}

.counter__operator:hover {
  color: var(--color-gray-hover);
  cursor: pointer;
}
