@import '../../styles/mixins';

.cart {
  @include flexCol;
}

.cart__no-products {
  background-color: var(--color-light-gray);
  padding: 2rem 1.5rem;
}

.cart__return-shop-button {
  align-self: flex-start;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  margin-top: 4rem;
}
