.additional-info {
  order: 1;
}

.additional-info__textarea-wrapper {
  padding: 5rem 4rem;
  background-color: var(--color-light-gray);
}

.additional-info__textarea {
  height: 10rem;
}

/* Start Responsive */
@media only screen and (max-width: 1050px) {
  .additional-info {
    order: 0;
  }
}

/* End Responsive */
