.content-wrapper {
  max-width: var(--width-content);
  margin: 12rem auto 17rem;
  padding-inline: 2rem;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height {
  height: 100%;
}

.global-button {
  padding: 1.3rem 2.4rem;
  color: var(--color-light);
  background-color: var(--color-dark);
  transition: var(--transition-timing-sec);
  text-align: center;
}

.global-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.global-button:hover {
  background-color: var(--color-gray-hover);
}

.global-h1 {
  font-size: var(--font-size-64);
  text-align: center;
  margin-bottom: 3.5rem;
}

.global-divider {
  border-bottom: 0.1rem solid var(--color-light-gray-divider);
  border-width: 0 0 0.1rem 0;
}

.global-err-msg {
  display: block;
  font-size: var(--font-size-12);
  color: var(--color-red-err);
  margin-top: 0.5rem;
}

input.global-input-err {
  border-color: var(--color-red-err);
}

input.global-input-focused:focus {
  border-color: var(--color-dark-border);
}

.global-text-input {
  border: 0.1rem solid var(--color-primary);
  padding: 1.2rem 1.6rem;
}

.global-text-input:focus {
  border-width: 0.2rem;
}

// .global-cursor-loader {
//   cursor: url(loader.cur), auto;
//   animation: loader 0.8s infinite linear;
// }

// @keyframes loader {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
