@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin flexVCenter {
  display: flex;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexJustifyBetween {
  display: flex;
  justify-content: space-between;
}

@mixin flexWGap($gap: 2rem) {
  display: flex;
  gap: $gap;
}

@mixin gridColsAutoFit($minWidth: 25rem) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minWidth, 1fr));
}

@mixin mainContentWrapper {
  max-width: var(--width-content);
  margin: 0 auto;
  padding: 8rem 2rem 17rem;
  flex: 1;
}
