@mixin flexCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin flexVCenter {
  display: flex;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexWGap($gap: 2rem) {
  display: flex;
  gap: $gap;
}

@mixin primaryInput {
  border: 0.1rem solid var(--color-primary);
  padding: 1.2rem 1.6rem;
  width: 100%;
}
