@import '../../styles/mixins';

.contact__img {
  width: 100%;
  margin-bottom: 5rem;
}

.contact__main {
  @include flexWGap($gap: 10rem);
  flex-wrap: wrap;
}

.contact__details-hours {
  @include flexCol;
  gap: 7rem;
  max-width: 35%;
}

@media only screen and (max-width: 950px) {
  .contact__details-hours {
    max-width: 100%;
  }
}
