.featured-collection__img-container {
  position: relative;
}

.featured-collection__img {
  display: block;
  width: 100%;
  opacity: 1;
  transition: var(--transition-timing-sec);
}

.featured-collection__quick-view {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition-timing-sec);
}

.featured-collection__img-container:hover .featured-collection__img {
  opacity: 0.7;
  cursor: pointer;
}

.featured-collection__img-container:hover .featured-collection__quick-view {
  opacity: 1;
}
