@import '../../../styles/mixins';

.global-header__icons {
  position: relative;
  display: flex;
  gap: 2.5rem;
  justify-self: flex-end;
}

.global-header__icon:active {
  border: 0.1rem dashed var(--color-gray-hover);
  padding: 0.3rem;
}

.global-header__search-cart-container {
  @include flexVCenter;
  gap: 1.4rem;
}

.global-header__search:hover {
  cursor: pointer;
}

.global-header__cart:hover + .cart-modal {
  display: block;
}

.global-header__cart-count {
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  @include flexCenter;
  color: var(--color-light);
  font-size: var(--font-size-10);
  min-height: 1.8rem;
  min-width: 1.8rem;
  border-radius: 50%;
  background-color: var(--color-dark-red);
}

.global-header__menu {
  display: none;
}

/* Start Responsive */
@media only screen and (max-width: 1000px) {
  .global-header__icons {
    width: 100%;
    justify-content: space-between;
  }

  .global-header__cart-count {
    right: auto;
    left: 5.5rem;
  }

  .global-header__menu {
    display: inline;
    cursor: pointer;
  }
}

/* End Responsive */
