.item-modal__close {
  position: absolute;
  top: -6%;
  right: -0.3%;
  color: var(--color-light);
}

.item-modal__img-container {
  display: flex;
  justify-content: center;
}

.item-modal__img {
  max-width: 60%;
  transition: var(--transition-timing-sec);
}

.item-modal__name {
  display: block;
  font-size: var(--font-size-32);
  line-height: 1.68;
  overflow-wrap: anywhere;
}

.item-modal__price {
  display: block;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-bold);
  margin: 2rem 0;
}

.item-modal__description {
  line-height: 1.68;
}

.item-modal__action-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 3rem 0;
}

.item-modal__button {
  padding: 1.7rem 2.4rem;
  flex: 1;
  white-space: nowrap;
}

.item-modal__count-container {
  border: 0.2rem solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  padding: 0.8rem 0.5rem;
}

.item-modal__input {
  border: none;
  width: 6rem;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.item-modal__operator {
  font-size: var(--font-size-27);
  transition: var(--transition-timing-sec);
}

.item-modal__operator:hover {
  color: var(--color-gray-hover);
  cursor: pointer;
}

.item-modal__divider {
  border: 0.1rem solid var(--color-light-gray-divider);
  margin: 2.5rem 0;
}

.item-modal__category {
  font-size: var(--font-size-14);
}
