@import '../../../styles/mixins';

.checkout-coupon {
  margin-bottom: 5rem;
}

.checkout-coupon__title {
  padding: 1.9rem;
  background-color: var(--color-light-gray);
}

.checkout-coupon__link {
  text-decoration: underline;
  color: var(--color-dark-gray-link);
  font-size: var(--font-size-16);
  margin-inline-start: 0.5rem;
}

.checkout-coupon__description-form-container {
  opacity: 0;
  height: 0;
  background-color: var(--color-light-gray);
  transform: scaleY(0);
  transition: var(--transition-timing-sec);
}

.checkout-coupon__description-form-container--visible {
  opacity: 1;
  height: auto;
  padding: 1.9rem;
  transform: scaleY(1);
}

.checkout-coupon__description {
  margin-bottom: 2rem;
}

/* Start Responsive */
@media only screen and (max-width: 500px) {
  .checkout-coupon__form {
    @include flexCol;
    gap: 1rem;
    align-items: flex-start;
  }
}
/* End Responsive */
