@import '../../styles/mixins';

.content-wrapper {
  @include mainContentWrapper;
}

.content-wrapper__heading {
  font-size: var(--font-size-64);
  text-align: center;
  margin-bottom: 3.5rem;
}

/*Start Responsive */
@media only screen and (max-width: 1000px) {
  .content-wrapper__heading {
    font-size: var(--font-size-42);
  }
}

@media only screen and (max-width: 500px) {
  .content-wrapper__heading {
    font-size: var(--font-size-32);
  }
}
/*End Responsive */
