@import '../../../styles/mixins';

.contact-form__wrapper {
  flex-grow: 1;
}

.contact-form {
  @include flexCol;
  margin-top: 7rem;
}

.contact-form__inputs-container {
  @include flexWGap();
  width: 100%;
}

.contact-form__submit-loader {
  @include flexVCenter;
  gap: 2rem;
}
