.cart table {
  padding-inline: 2rem;
  width: 100%;
  border: 0.1rem solid var(--color-light-gray-divider);
  border-collapse: collapse;
}

.cart th {
  text-align: start;
  padding: 2rem 0;
  font-size: var(--font-size-13);
}

.cart__th-delete-icon {
  width: 4%;
}

.cart__th-img {
  width: 10%;
}

th.cart__th-product {
  padding-inline: 3rem;
}

.cart__th-subtotal {
  font-weight: var(--font-weight-bold);
}

.cart td {
  padding: 3rem 0;
  border-bottom: 0.1rem solid var(--color-light-gray-divider);
}

td.cart__td-delete-icon {
  text-align: center;
}

.cart__item-img {
  width: 100%;
  height: 12rem;
}

td.cart__td-name {
  padding-inline: 3rem;
}

.cart__td-price,
.cart__td-quantity,
.cart__td-subtotal {
  width: 15%;
}

.cart__td-subtotal {
  font-weight: var(--font-weight-bold);
}
