.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info__name {
  margin: 1.2rem 0;
  text-align: center;
}

.product-info__price {
  margin-bottom: 1.7rem;
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-bold);
}

.product-info__button {
  position: relative;
  display: flex;
  align-items: center;
}

.product-info__loading-icon {
  animation: spin 2s linear infinite;
  margin-inline-start: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.product-info__check-icon {
  margin-inline-start: 0.5rem;
}

.product-info__view-cart-link {
  font-size: var(--font-size-15);
  text-decoration: underline;
  margin-top: 0.8rem;
}
