.checkout__main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  column-gap: 10rem;
  row-gap: 4rem;
}

/* Start Responsive */
@media (max-width: 500px) {
  .checkout__main {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

/* End Responsive */
