.hero-wrapper {
  background: url('../../../assets/images/hero-img.jpg') repeat center;
  background-size: cover;
  height: 70rem;
  position: relative;
}

.hero-wrapper__content {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  padding: 0 4rem;
}

.hero-wrapper__title {
  font-size: var(--font-size-64);
  padding: 0 0 3rem;
}
