.global-header {
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  padding-inline: 4rem;
  background-color: var(--color-light);
}

.logo-text {
  font-size: var(--font-size-24);
}
