.global-header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  padding-inline: 4rem;
  background-color: var(--color-light);
}

/* Start Responsive */
@media only screen and (max-width: 1000px) {
  .global-header {
    display: flex;
    align-items: center;
    padding-inline: 2rem;
  }

  .global-header__logo-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 500px) {
  .global-header__logo-wrapper {
    font-size: var(--font-size-14);
  }
}
/* End Responsive */
