@import '../../../../styles/mixins';

.featured-categories__list {
  @include gridColsAutoFit($minWidth: 20rem);
  gap: 3rem;
}

.featured-categories__img {
  width: 100%;
}

.featured-categories__name {
  text-align: center;
  margin-top: 1.5rem;
}
