@import '../../../styles/mixins';

.billing-details-wrapper {
  margin-bottom: 6rem;
}

.billing-details__name-container {
  @include flexWGap();
  flex-wrap: wrap;
}

.billing-details__select--focused {
  outline: none;
  border: 0.1rem solid var(--color-dark);
}

.billing-details__select {
  padding: 1.2rem 1.6rem;
}

@media only screen and (max-width: 800px) {
  .billing-details__name-container {
    gap: 0;
  }

  .billing-details__first-name,
  .billing-details__last-name {
    width: 100%;
  }
}
