@import '../../styles/mixins';

.product-details {
  padding: 2.5rem;
  @include gridColsAutoFit($minWidth: 20rem);
  gap: 3rem;
  background-color: var(--color-light-gray-bg);
}

.product-details__img {
  width: 100%;
}

.product-details__name {
  display: block;
  font-size: var(--font-size-32);
  line-height: 1.68;
  overflow-wrap: anywhere;
}

.product-details__price {
  display: block;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-bold);
  margin: 2rem 0;
}

.product-details__description {
  line-height: 1.68;
}

.product-details__action-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 3rem 0;
}

.product-details__button {
  padding: 1.7rem 2.4rem;
  flex: 1;
  white-space: nowrap;
}

.product-details__divider {
  margin: 2.5rem 0;
}

.product-details__category {
  font-size: var(--font-size-14);
}

/* Start Responsive */
@media only screen and (max-width: 900px) {
  .product-details__img {
    height: 40rem;
  }

  .product-details__name {
    font-size: var(--font-size-24);
  }

  .product-details__price {
    font-size: var(--font-size-20);
  }
}
/* End Responsive */
