.coupon-form-container {
  margin-inline-end: 2rem;
  height: 9rem;
}

.coupon-form {
  display: flex;
}

.coupon-form__loader {
  padding-top: 1.4rem;
  margin-inline-start: 1.3rem;
}

.coupon-form__input-bg {
  background-image: url(../../assets/icons/check-mark.png);
  background-repeat: no-repeat;
  background-position: right 1.1rem center;
}

.coupon-form__button {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
