.section__heading {
  font-size: var(--font-size-32);
  margin-bottom: 1.6rem;
}

/*Start Responsive */
@media (max-width: 1000px) {
  .section__heading {
    font-size: 2.4rem;
  }
}

@media (max-width: 500px) {
  .section__heading {
    font-size: 2rem;
  }
}
/*End Responsive */
