.section__heading {
  font-size: var(--font-size-32);
  margin-bottom: 1.6rem;
}

/*Start Responsive */
@media only screen and (max-width: 1000px) {
  .section__heading {
    font-size: var(--font-size-24);
  }
}

@media only screen and (max-width: 500px) {
  .section__heading {
    font-size: var(--font-size-20);
  }
}
/*End Responsive */
