@import '../../styles/_mixins';

.field-wrapper {
  @include flexCol;
  margin-bottom: 2rem;
}

.field-wrapper__label {
  margin-bottom: 0.8rem;
}

.field-wrapper__sign--mandatory {
  color: var(--color-red-mandatory);
  margin-inline-start: 0.3rem;
}

.field-wrapper__sign--optional {
  color: var(--color-primary);
}
