.cart-totals__subtitle-price-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.7rem;
  padding-bottom: 1.7rem;
}

.cart-totals__subtitle {
  font-size: var(--font-size-13);
}
