.item-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-overlay);
  display: flex;
  align-items: center;
  padding-inline: 2rem;
}

.item-modal__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.item-modal__close {
  align-self: flex-end;
  margin-bottom: 0.7rem;
  color: var(--color-light);
}

@media (max-width: 1000px) {
  .item-modal__close {
    position: absolute;
    top: 1.4rem;
    right: 1.8rem;
  }

  .item-modal__content {
    height: 90%;
    overflow-y: scroll;
  }
}
